<html>
	<head>
		<title>Is this a quiz?</title>
	</head>
	<body>
		<h1>Questions</h1>
		<form method='POST' action='/quiz/answer'>
			{% csrf_token %}
			{% for quiz in quiz_list %}
			<p id={{ forloop.counter0 }}>{{ quiz.id }}. {{ quiz.question }} </p>
			<input type='radio' id='id_yes_{{ forloop.counter0 }}'
			       name='answer_{{ quiz.id }}'
			       value='yes'>Yes</input>
			<input type='radio' id='id_no_{{ forloop.counter0 }}'
			       name='answer_{{ quiz.id }}'
			       value='no'>No</input>
		{% endfor %}
		<br><br><input type='submit' id='id_submit' value='submit'/>
		<br>
		</form>
		{% if score %}
		    <h2>Your score is {{ score }}.</h2>
		   {% endif %}
                <form action="/"><input type="submit" id='id_back' value="back" /></form>
	</body>
</html>
