<html>
	<head>
		<title>create a question</title>
	</head>
	<body>
		<form method='POST' action='/quiz/create'>
			{% csrf_token %}
			Question: <input type='text' id='id_question' name='question'/><br>
			Answer: <input type='radio' id='id_yes' name='answer' value='yes' >Yes</input>
			<input type='radio' id='id_no' name='answer' value='no' >No</input>
			<input type='submit' id='id_submit' value='submit'/>
		</form>
		<br>
		<form action="/"><input type="submit" id='id_back' value="back" /></form>
	</body>
</html>
